<!DOCTYPE html>
<html>
<head>
    <title>URLs</title>
</head>
<body>
    <h2>Stored URLs</h2>
    <form method="POST" action="/url">
        <label for="url">
            Enter Your Url :
        </label>
        <input type="text" name="url" placeholder="http://exmple.com">
        <button type="submit">
            Genrate Url
        </button>
    </form> 
    
</body>
</html>
